@import '../base/variables.css';

.InvoiceFormSection{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.InvoiceFormSection h2{
    background-color: var(--White_Difuminated);
    margin: 0.8rem 0.8rem 0 0.8rem;
    width: auto;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--secondary_color);
}

.InvoiceForm{

    margin: 0 auto;
    width: auto;
    margin: 0 0.8rem 0.8rem 0.8rem;
    background-color: var(--White_Difuminated);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: auto;
    border: 1px solid var(--secondary_color);
}

.InvoiceForm label{

    font-size: 1rem;
    margin: 0.5rem 0;
}

.InvoiceForm input{

    background-color: var(--primary_color);
    padding: 0.7rem;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    transition: border ease 0.05s;
    border: 1px solid var(--secondary_color);
    
}

.InvoiceForm input:focus{

    border: 3px solid var(--secondary_color);
}

.InvoiceForm button{

    border: none;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--secondary_color);
    border-radius: 0.2rem;
    color: var(--primary_color);
    cursor: pointer;
    transition: color ease 0.3s, background-color ease 0.3s, font-weight ease 0.3s, border ease 0.1s;
}

.InvoiceForm button:hover,
.InvoiceForm button:focus{

    background-color: var(--primary_color);
    color: var(--secondary_color);
    font-weight: 600;
    border: 3px solid var(--secondary_color);
    outline: none;

}

#Ingredient_content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

#item,
#cantidad,
#precio {

    margin-top: 0.3rem;
    flex-shrink: 2;
    flex-grow: 2;
    min-width: 1rem;
}

#remove_ingrediente{
    
    margin: 0;
    padding: 0.2rem 0.5rem;
}

/*Media Queries*/

@media screen and (min-width: 720px) {
    
    .InvoiceFormSection h2,
    .InvoiceForm{

        width: 600px;
        margin: 0 auto;
    }

    .InvoiceForm label{

        font-size: 1.2rem;
        
    }

}